.secondall{
    padding: 30px 0 ;
    display: flex;
    flex-direction: column;
    text-align: center;

    .allcard{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    .card{

        width: 270px;
      
        display: flex;
       
        flex-direction: column;
       
        align-items: center;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        margin-top: 10px;
       
            img{
                width: 50px;
                height: 60px;
            }
            h5{
                font-size: 18px;
                color: #70Ad4d;
            }
            p{
                font-size:12px;
            }
    }
}
}